# recreate two envs, .env and .env.dev to build and run this project

POSTGRES_DSN=postgres://marbl:marbl@localhost:5432/marbl?sslmode=disable
RABBITMQ_DSN=amqp://guest:guest@localhost:5672/

# for .env.dev replace with docker service names: (postgres, rabbitmq) respectively